﻿@model IEnumerable<ServerControlWeb.ServiceReference1.TableConf>

@{
    ViewBag.Title = "Konfigurasyon";
}

<h2>Konfigurasyon</h2>
<p data-toggle="collapse" data-target="#ackapa"> Konfigürasyon Ayarlarını değiştirmek için tıklayınız...</p>
<form id="ackapa" class="collapse" action="Konfigurasyon" method="post">
    <input type="text" id="cpu" name="cpu" placeholder="Max Cpu" style="border-radius:5px" />
    <input type="text" id="ram" name="ram" placeholder="Min Ram" style="border-radius:5px" />
    <input type="text" id="disk" name="disk" placeholder="Min Disk" style="border-radius:5px" />
    <input type="submit" value="Kaydet" style="border-radius:5px">
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Max CPU Kullanımı (%)")
        </th>
        <th>
            @Html.DisplayName("Min Ram Alanı (MB)")
        </th>
        <th>
            @Html.DisplayName("Min Disk Alanı (%)")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KonfCpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KonfRam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KonfDisk)
        </td>
    </tr>
}

</table>
