﻿@model ServerControlWeb.Controllers.Servertablo
@{
    ViewBag.Title = "ServerResults";
}

<h3>@Html.DisplayFor(x=> x.cpu[0].CpuServerName)</h3>

<div class="yanyana">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="overflow-x:auto; height:500px; overflow-y:scroll">
        <h3 style="text-align:center">RAM Sonuçları</h3>
        @Html.Partial("~/Views/PartialRam.cshtml", Model)
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="overflow-x:auto; height:500px; overflow-y:scroll">
        <h3 style="text-align:center">CPU Sonuçları</h3> 
        @Html.Partial("~/Views/PartialCpu.cshtml", Model)
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="overflow-x:auto; height:500px; overflow-y:scroll">
        <h3 style="text-align:center">Disk Sonuçları</h3>
        @Html.Partial("~/Views/PartialDrive.cshtml", Model)
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <form action=@Url.Action("ServerResults", "ServerControl") method="post">
        <input type="text" readonly id="sunucu" name="sunucu" value="@Model.cpu[0].CpuServerName" style="border-radius:5px"/><span>adlı sunucunun son</span>
        <input class="btn-info" type="submit" id="on" name="secim" value="10" style="border-radius:5px" />
        <input class="btn-info" type="submit" id="elli" name="secim" value="50" style="border-radius:5px; margin-left:5px"/>
        <input class="btn-info" type="submit" id="yuz" name="secim" value="100" style="border-radius:5px; margin-left:5px" /><span> kayıtlarını görüntüle</span>
    </form>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>